body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: #5b5a5a;
}

p, span {
    color: gray;
}

.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 2rem;
    max-width: 100%;
}

#pc, #result, #user {
    padding: 3rem;
    width: 40%;
}

#result {
    width: 20%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#user p, #pc p {
    font-size: 2rem;
}

#resetButton {
    display: none;
    margin: auto;
    background: #d4b7e5;
}

#choiceButtons button, #resetButton {
    border: none;
    color: white;
    padding: 0.5rem 1rem;
}

#rock {
    background-color: #a3add5;
}

#paper {
    background-color: #a9bcd7;
}

#scissors {
    background-color: #aac7cd;
}


/*
* responsive
 */
@media screen and (max-width: 885px) {
    .container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px){
    #pc {
        order: 1;
    }

    #user {
        order: 2;
        width: 100%;
    }

    #result {
        width: 50%;
    }
}